---
layout: layout-default.njk
title: About Me
greet: Hi, I'm Margo.
greetSubText: UX/UI designer | Product designer, based in Lisbon, Portugal. Welcome to my portfolio.
about: Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
---

<div class="pt-6 pb-16 md:pt-20 md:pb-[7.5rem] lg:pt-[9.75rem] lg:pb-40 grid grid-cols-1 lg:grid-cols-[24rem_auto] gap-6">
  <div class="">
    <h1 class="mb-10 text-grey6 font-sans-heading text-hL md:text-hXL uppercase">About Me</h1>

    IMG
  </div>

  <div>
    <p class="mb-[0.875rem]">My key value is quality work. In my work I always balance between user needs and business goals.</p>
    <p class="mb-[0.875rem]">I always collaborate with developing and business management teams to enhance engagement and work productivity.</p>
    <p class="mb-[0.875rem]">I actively use different self-management techniques to stay efficient.</p>
    <p class="mb-[0.875rem]">I follow a minimalist lifestyle and apply its principles to my design work.</p>
    <p class="mb-[0.875rem]">My key value is quality work. In my work I always balance between user needs and business goals.</p>
    <p class="mb-[0.875rem]">I always collaborate with developing and business management teams to enhance engagement and work productivity.</p>
    <p class="mb-[0.875rem]">I actively use different self-management techniques to stay efficient.</p>
    <p class="mb-[0.875rem]">I follow a minimalist lifestyle and apply its principles to my design work.</p>
  </div>
</div>
